[submodule "imspinner"]
	path = imspinner
	url = https://github.com/dalerank/imspinner.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "libpqxx"]
	path = libpqxx
	url = https://github.com/jtv/libpqxx.git
